exportPattern("^[[:alpha:]]+")
import(ALDEx2)
import(BiocGenerics)
import(BiocManager)
import(ComplexHeatmap)
import(DESeq2)
import(GGally)
import(Maaslin2)
import(SummarizedExperiment)
import(cowplot)
import(devtools)
import(dplyr)
import(funrar)
import(ggprism)
import(glmnet)
import(lefser)
import(limma)
import(magrittr)
import(patchwork)
import(readr)
import(tibble)
import(tidyr)
